---
import type { CollectionEntry } from "astro:content";

export interface Props {
  skill: CollectionEntry<'majorSkills'>;
}

const { skill } = Astro.props;
---

<div class="border dark:border-zinc-700 rounded-xl shadow-sm p-5 h-full">
  <h3 class="font-bold text-lg text-center mb-3 text-zinc-800 dark:text-zinc-200 beige-amber-gradient-wave">
    {skill.data.title}
  </h3>
  <div class="text-zinc-600 dark:text-zinc-300 prose prose-sm dark:prose-invert max-w-none">
    {skill.body}
  </div>
</div>