---
export interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class='border border-zinc-300 dark:border-zinc-700 rounded-2xl
            text-sm text-zinc-700 dark:text-zinc-300 no-underline px-2 py-0.5
            transition-all duration-700
            hover:border-zinc-700 dark:hover:border-zinc-300'>
  {tag}
</span>